USE [master]
GO

IF DB_ID('Shared') IS NOT NULL
DROP DATABASE [Shared]
GO

CREATE DATABASE [Shared]
GO

USE [Shared]
GO

-- ======================
-- TABLES
-- ======================

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[departments](
[department_id] INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
[department_code] NVARCHAR(50) NOT NULL,
[department_name] NVARCHAR(200) NOT NULL,
[is_active] BIT NOT NULL DEFAULT 1,
[created_at] DATETIME2 NOT NULL DEFAULT GETDATE(),
[updated_at] DATETIME2 NULL
)
GO

CREATE TABLE [dbo].[employees](
[employee_id] INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
[employee_code] NVARCHAR(6) NOT NULL,
[full_name] NVARCHAR(200) NOT NULL,
[email] NVARCHAR(200) NULL,
[date_of_birth] DATE NULL,
[gender] NVARCHAR(20) NULL,
[section_cd] CHAR(3) NOT NULL,
[position_cd] CHAR(3) NOT NULL,
[manager_id] INT NULL,
[profile_photo_url] NVARCHAR(500) NULL,
[is_active] BIT NOT NULL DEFAULT 1,
[created_at] DATETIME2 NOT NULL DEFAULT GETDATE(),
[updated_at] DATETIME2 NULL
)
GO

-- ======================
-- DATA INSERT
-- ======================

SET IDENTITY_INSERT [dbo].[departments] ON


SET IDENTITY_INSERT [dbo].[departments] OFF
GO

SET IDENTITY_INSERT [dbo].[employees] ON


SET IDENTITY_INSERT [dbo].[employees] OFF
GO

-- ======================
-- CONSTRAINTS
-- ======================

ALTER TABLE [dbo].[departments]
ADD CONSTRAINT UQ_department_code UNIQUE (department_code)
GO

ALTER TABLE [dbo].[employees]
ADD CONSTRAINT UQ_employee_email UNIQUE (email)
GO

ALTER TABLE [dbo].[employees]
ADD CONSTRAINT UQ_employee_code UNIQUE (employee_code)
GO

ALTER TABLE [dbo].[employees]
ADD CONSTRAINT FK_employees_manager
FOREIGN KEY (manager_id) REFERENCES [dbo].[employees](employee_id)
GO

-- ======================
-- VIEW (SAFE VERSION)
-- ======================

CREATE VIEW [dbo].[View_emp_mst]
AS
SELECT employee_code AS nik,
full_name AS Name,
date_of_birth AS dateofbirth,
gender AS sex,
section_cd AS section,
position_cd
FROM dbo.employees
GO

USE [master]
GO
